<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: #AA9939; height: 100px;">
        <!-- Navbar Brand-->
        <a href="#" class="logo">
            <img src="../Images/logo.png" alt="Logo" style="width: 150px; height: auto; border-radius: 50%;">
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class='bx bx-menu' style="color: white; font-size: 24px;"></i></button> <!-- Aumento de tamaño del icono -->
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Buscar..." aria-label="Buscar..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class='bx bx-search' style="color: white; font-size: 24px;"></i></button> <!-- Aumento de tamaño del icono -->
            </div>
        </form>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")"><i class='bx bx-home' style="color: white; font-size: 24px;"></i></a> <!-- Aumento de tamaño del icono -->
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class='bx bx-user' style="color: white; font-size: 24px;"></i></a> <!-- Aumento de tamaño del icono -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="@Url.Action("Perfil", "Home")">Mi perfil</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="@Url.Action("CerrarSesion", "Acceso")">Cerrar Sesión</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Carrito", "Home")"><i class='bx bx-cart' style="color: white; font-size: 24px;"></i></a> <!-- Aumento de tamaño del icono -->
            </li>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="background-color: #AA9939; ">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Menú</div>
                        <a class="nav-link" href="@Url.Action("Index", "Home")" style="color: white;">
                            <!-- Cambio de color del texto a blanco -->
                            <div class="sb-nav-link-icon"><i class='bx bxs-home' style="color: white; font-size: 24px;"></i></div> <!-- Aumento de tamaño del icono -->
                            Inicio
                        </a>
                        <a class="nav-link" href="@Url.Action("Productos", "Home")" style="color: white;">
                            <!-- Cambio de color del texto a blanco -->
                            <div class="sb-nav-link-icon"><i class='bx bx-beer' style="color: white; font-size: 24px;"></i></div> <!-- Aumento de tamaño del icono -->
                            Productos
                        </a>

                        <a class="nav-link" href="@Url.Action("Valoraciones", "Home")" style="color: white;">
                            <!-- Cambio de color del texto a blanco -->
                            <div class="sb-nav-link-icon"><i class='bx bx-spreadsheet' style="color: white; font-size: 24px;"></i></div> <!-- Aumento de tamaño del icono -->
                            Valoraciones
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "Acceso")" style="color: white;">
                            <!-- Cambio de color del texto a blanco -->
                            <div class="sb-nav-link-icon"><i class='bx bx-log-in' style="color: white; font-size: 24px;"></i></div> <!-- Aumento de tamaño del icono -->
                            Iniciar Sesión
                        </a>
                    </div>
                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <!-- Contenido cambia -->
                <div class="container-fluid px-4">
                    @RenderBody()

                </div>
                <!-- Fin contenido cambia -->
            </main>

        </div>
    </div>

    @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
