
@{
    ViewBag.Title = "CambiarClave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Cambiar clave</title>
    <link rel="stylesheet" type="text/css" href="../../Content/Static/auth.css">
</head>
<body>
    <form class="auth-form" action="@Url.Action("CambiarClave", "Acceso")" method="post">
        <h2 id="heading">Cambiar contraseña</h2>

        <input class="input-field-auth" type="hidden" value="@TempData["IdCliente"]" style="width: 100%; text-align: left" name="idcliente">
        <div class="field-auth">
            <svg class="input-icon-auth" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M14 6V4c0-2.21-1.79-4-4-4S6 1.79 6 4v2H4c-1.11 0-2 .89-2 2v8c0 1.11.89 2 2 2h8c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2h-2zm-4-4c1.18 0 2 1.35 2 2v2H4V4c0-.65.47-1.16 1-1.25V2c0-1.1.9-2 2-2zM8 12c-1.54 0-2.79-1.46-2.97-3.33L5 8V6h6v2l-.03.67C10.79 10.54 9.54 12 8 12zm4-3.33C10.79 10.54 9.54 12 8 12s-2.79-1.46-3.03-3.33L5 8h6l.03.67z"></path>
            </svg>
            <input placeholder="Contraseña actual" class="input-field-auth" type="text" name="claveactual" value="@ViewData["vclave"]" autocomplete="off">
        </div>
        <!-- Div de regulaciones de contraseña -->
        <div class="password-regulations">
            <div class="regulation-check">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkmark" viewBox="0 0 16 16" id="idCheckMarkEIGHT" style="color: green">
                    <path d="M11.646 3.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11.5 4.707 8.354 7.854a.5.5 0 0 1-.708-.708l3-3z"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="crossmark" viewBox="0 0 16 16" id="idCrossMarkEIGHT" style="color: red">
                    <path fill-rule="evenodd" d="M1.646 0.646a.5.5 0 0 1 .708 0L8 6.293l5.646-5.647a.5.5 0 0 1 .708.708L8.707 7l5.647 5.646a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708L7.293 7 .646 1.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
                <span style="color:white">La nueva contraseña debe tener al menos 8 caracteres</span>
            </div>
            <div class="regulation-check">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkmark" viewBox="0 0 16 16" id="idCheckMarkMINMAN" style="color: green">
                    <path d="M11.646 3.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11.5 4.707 8.354 7.854a.5.5 0 0 1-.708-.708l3-3z"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="crossmark" viewBox="0 0 16 16" id="idCrossMarkMINMAN" style="color: red">
                    <path fill-rule="evenodd" d="M1.646 0.646a.5.5 0 0 1 .708 0L8 6.293l5.646-5.647a.5.5 0 0 1 .708.708L8.707 7l5.647 5.646a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708L7.293 7 .646 1.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
                <span style="color:white">La nueva contraseña debe contener letras mayúsculas y minúsculas</span>
            </div>
            <div class="regulation-check">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkmark" viewBox="0 0 16 16" id="idCheckMarkESP" style="color: green">
                    <path d="M11.646 3.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11.5 4.707 8.354 7.854a.5.5 0 0 1-.708-.708l3-3z"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="crossmark" viewBox="0 0 16 16" id="idCrossMarkESP" style="color: red">
                    <path fill-rule="evenodd" d="M1.646 0.646a.5.5 0 0 1 .708 0L8 6.293l5.646-5.647a.5.5 0 0 1 .708.708L8.707 7l5.647 5.646a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708L7.293 7 .646 1.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
                <span style="color:white">La nueva contraseña debe contener al menos un carácter especial y al menos un número</span>
            </div>
        </div>
        <div class="field-auth">
            <svg class="input-icon-auth" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M14 6V4c0-2.21-1.79-4-4-4S6 1.79 6 4v2H4c-1.11 0-2 .89-2 2v8c0 1.11.89 2 2 2h8c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2h-2zm-4-4c1.18 0 2 1.35 2 2v2H4V4c0-.65.47-1.16 1-1.25V2c0-1.1.9-2 2-2zM8 12c-1.54 0-2.79-1.46-2.97-3.33L5 8V6h6v2l-.03.67C10.79 10.54 9.54 12 8 12zm4-3.33C10.79 10.54 9.54 12 8 12s-2.79-1.46-3.03-3.33L5 8h6l.03.67z"></path>
            </svg>
            <input placeholder="Nueva contraseña" class="input-field-auth" type="password" name="nuevaclave" autocomplete="off">
        </div>
        <div class="field-auth">
            <svg class="input-icon-auth" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M14 6V4c0-2.21-1.79-4-4-4S6 1.79 6 4v2H4c-1.11 0-2 .89-2 2v8c0 1.11.89 2 2 2h8c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2h-2zm-4-4c1.18 0 2 1.35 2 2v2H4V4c0-.65.47-1.16 1-1.25V2c0-1.1.9-2 2-2zM8 12c-1.54 0-2.79-1.46-2.97-3.33L5 8V6h6v2l-.03.67C10.79 10.54 9.54 12 8 12zm4-3.33C10.79 10.54 9.54 12 8 12s-2.79-1.46-3.03-3.33L5 8h6l.03.67z"></path>
            </svg>
            <input placeholder="Confirmar nueva contraseña" class="input-field-auth" type="password" name="confirmarclave" autocomplete="off">
        </div>

        @{
            if (ViewBag.Error != null)
            {
                <div class="field-auth">
                    <div class="forgot-password mt-auto">
                        @ViewBag.Error
                    </div>
                </div>
            }
        }
        <div class="btn">
            <button class="btnCambiarClave-auth" type="submit">Cambiar contraseña</button>
        </div>
        <div class="forgot-password mt-auto">
            <a style="color: white" href="@Url.Action("Index", "Acceso")">Volver</a>
        </div>
    </form>
    <script src="../../Scripts/JsProyecto/passRegulationsCambiarClave.js"></script>
</body>
</html>